.contact-data input{
    box-shadow: 0 7px 15px rgba(255, 255, 255, 0.1)!important;
    border:0 ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.832);
    color: #fff !important;
}
.contact-data input::placeholder{
    text-align: center;
}